@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Device Breakpoints */
/*

Extra small devices: 0 - 600px
Small devices: 600px - 768px
Medium devices: 768px - 992px
Large devices: 992px - 1200px
Extra large devices: >1200px
*/

/* JA FEITO NO STYLE.CSS
Extra small devices

@media screen and (max-width: 600px) {
    
}

Small devices

@media screen and (min-width: 600px) and (max-width: 768px) {
    
}
*/

/* Medium devices */

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url('../images/back-tablet.jpg');
    }

    main {
        width: 450px;
        height: 260px;
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: block;
    }
}

/* Large devices */

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url('../images/back-pc.jpg');
    }

    main {
        width: 500px;
        height: 280px;
    }

    img#phone {
        display: none;
    }

    img#pc {
        display: block;
    }
}

/* Extra large devices */

@media screen and (min-width: 1200px) {
    body {
        background-image: url('../images/back-tv.jpg');
    }

    main {
        width: 600px;
        height: 300px;
    }

    img#phone {
        display: none
    }

    img#tv {
        display: block;
    }
}

@media print {
    body {
        background-image: url('../images/back-print.jpg'); /* Desnecessário */
        font-family: 'Courier New', Courier, monospace;
    }

    main {
        width: 70vw;
        border: 2px solid black;
    }

    main h1{
        text-shadow: none;
        color: black;
    }

    main::after {
        content: 'Esta impressão foi feita a partir do site www.cursoemvideo.com';
        text-decoration: underline;
    }

    img#phone {
        display: none;
    }

    img#print {
        display: block;
    }
}