@charset "UTF-8";

:root {
    --fonte-texto: "Noto Sans Cherokee", sans-serif;
    --fonte-titulo: "Merriweather", serif;
    --cor1: #0BEA70;
    --cor2: #2AC06D;
    --cor3: #399663;
    --cor4: #3B6B51;
    --cor5: #2E4137;
}

@media screen and (max-width: 469px){
    div.container {
        flex-flow: row wrap;
    }

    nav#nav1 {
        flex: 1 0 auto;
        justify-content: space-evenly;
    }

    nav#nav2 {
        flex: 1 0 auto;
        justify-content: center;
    }
}

@media screen and (max-width: 335px) {
    nav#nav1 {
        flex: 1 1 auto;
        justify-content: space-evenly;
        text-align: center;
    }
}

@media screen and (max-width: 550px) and (max-height: 600px) {
        
}

* {
    padding: 0px;
    margin: 0px;
}

header {
    margin: auto;
    padding: 20px 10px 10px 10px;
    text-align: center;
    background-color: white;
    color: var(--cor5);
    font-family: var(--fonte-titulo);
}

header > p {
    padding-bottom: 10px;
}

div.container {
    display: flex;
    flex-flow: row wrap;
}

nav {
    display: flex;
    background-color: var(--cor4);
    font-size: 1em;
    padding: 10px 5px 10px 15px;
    font-family: var(--fonte-titulo);
    font-weight: 400;
}

nav > a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 3px 5px;
}

nav > a:hover {
    text-decoration: underline;
    background-color: var(--cor5);
    border-radius: 5px;
    transition: 0.5s;
}

nav#nav1 {
    flex: 1;
}

nav#nav2 {
    padding-left: 3px;
}

main {
    padding: 10px 0px;
    background-color: #0BEA70;
    background-image: url('../images/pexels-pixabay-302083.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
    height: 80vh;
}

div#registro{
    background-color: rgba(255, 255, 255, 0.877);
    text-align: center;
    font-family: var(--fonte-texto);
    height: 400px;
    max-width: 300px;
    padding: 10px;
    margin: auto;
    margin-top: 30px;
    border: 2px solid black;
}

form > h1 {
    margin-bottom: 2px;
}

form > p{
    display: inline-block;
    margin-bottom: 20px;
    max-width: 250px;
}

form > label {
    display: inline-block;
    margin-bottom: 3px;
}

form > input {
    padding: 5px;
    margin-bottom: 20px;
    width: 70%;
}

div.clearfix > button {
    margin-top: -10px;
    width: 100px;
    height: 50px;
}

footer {
    background-color: var(--cor5);
    color: white;
    padding: 6px;
    text-align: center;
}

