@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}

table {
    width: 800px;
    border-collapse: collapse;
    font-size: 1.5em;
    margin: auto;
}

td, th {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}